[submodule "boost"]
	path = boost
	url = https://github.com/songpeng22/Android-build_boost.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/songpeng22/Android-build_zlib.git
[submodule "icu"]
	path = icu
	url = https://github.com/songpeng22/Android-build_icu.git
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/songpeng22/Android-build_libxml2.git
